body {
    background-color: #f1f2f3;
}
.block {
    background-color: white;
    border: 1px solid #5eb5e0;
    padding: 5px;
    margin: 5px;
}


#listposts {
    width: 100%;

}
#listposts th {
    text-align: left;
    background-color: #DDDDDD;
}
#listposts tr:nth-child(even) {
    background: beige;
}
#listposts tr:nth-child(odd) {
    background: azure;
}


nav a {
    margin-right: 10px;
}


.flash-success {
    color: green;
}
.flash-error {
    color: red;
}
.flash-warning {
    color: orange;
}
