<html lang="fr">
<head>
    <!-- ... -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

{% include "layouts/header.html.twig" %}

{% include "layouts/menu.html.twig" %}

<div class="block">
    {% block content %}{% endblock %}
</div>

{% include "layouts/footer.html.twig" %}

</body>
</html>
