<html lang="fr">
<head>
    <!-- ... -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

{% include "layouts/header.html.twig" %}

{% include "layouts/menu.html.twig" %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="block">
    {% block content %}{% endblock %}
</div>

{% include "layouts/footer.html.twig" %}

</body>
</html>
